apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: task-board
  labels:
    app: frontend
    component: ui
spec:
  selector:
    app: frontend
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    # Убрал nodePort: 30080 - пусть Kubernetes сам выберет
  type: NodePort